@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&family=Unica+One&display=swap');

:root {
  --blue: #1F3E87;
  --blue-light: #7A99E1;
  --orange: #FB8467;
  --orange-dark: #9F2304;
  --pink: #FFB5B4;
  --pink-dark: #A30000;
  --yellow: #F8E16C;
  --yellow-dark: #9C6807;
  --green: #00C49A;
  --green-dark: #00755C;
  --white: #FFFFFF;
  --black: #000000;
  --border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --body: "Abel", sans-serif;
  --header: "Unica One", sans-serif;
  --title: "Major Mono Display", monospace;
  --accent: "Alumni Sans SC", sans-serif;

  font: 16px/145% var(--sans);
  font-family: var(--body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--accent-blue);
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.18em;
}

a:hover {
  color: var(--accent-light);
}

img {
  max-width: 100%;
  height: auto;
}
